[Desktop Entry]
Name={{ project-name | title_case }}
Exec={{ project-name }} %F
Terminal=false
Type=Application
StartupNotify=true
Icon={{ app_id }}
Categories=COSMIC;
Keywords=
MimeType=
