[Desktop Entry]
Name=Cosmic Watch
Comment=watch
Type=Application
Icon=com.github.Moon-Mind.cosmic-watch
Exec=cosmic-watch %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
